@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-brand-cyan to-blue-400 bg-clip-text text-transparent;
  }

  .section-padding {
    @apply py-24 px-6 md:px-12 lg:px-24;
  }
}
